* {
	padding: 0;
	margin: 0;
	}

body {
	background-image: url("background.jpg");
	}

#container {
	margin: auto;
	width: 980px;
	background-color: #f3f3f3;
	padding: 10px;
	border: 1px solid #262626;
	min-height: 580px;
	}

header {
	text-align: center;
		}
.rightLinks {
	float: right;
		 }
.leftLinks {
	float: left;
	display: inline;
	}
.button {
	width: 110px;
}
.usersForm, #editCategory, #editArticle {
	margin-top: 150px;
	text-align: center;
	}
.bigLinks {
	font-size: 20px;
	list-style-type: none;
	}
.smallText, .mainText{
	height: 20px;
	width: 300px;
	}
.mainText{
	height: 300px;
	margin-bottom: 10px;
	}
.deleteButton {
	margin: 0 10px;
	}
.massage {
	margin: auto;
	color: red;
	}
.linkImages {
	height: 50px;
	width: 50px;
	border: 1px solid #d6d6d6;
	}
.usersLog{
	width: 100px;
	}
.blue {
	text-decoration: none;
	font-weight: bold;
	color: white;
		}
a {
	text-decoration: none;
	}
a:hover {
	color: ffb2b2;
}
.rightLinks {
	display:inline-block;
	vertical-align:middle;
	vertical-align:auto;
  	margin-top: 7px;
  	margin-bottom: 7px;
	border:1px solid #13619f;
	background: #2371b7;
	padding:11px 20px;	
	}
.rightLinks:hover {
  	border: 2px solid #000000;
	}
.rightLinks:active {
  	text-decoration: underline;
	}